---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
---

<Layout title="Home">
  <Navbar title="Home" />
  <p>This is a test page</p>
  <a href="/about/">About</a>
</Layout>
